<h2>Thống kê hệ thống</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card bg-light p-3 mb-3 shadow-sm">
            <h4>Tổng số truyện</h4>
            <p>@ViewBag.TotalBooks</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light p-3 mb-3 shadow-sm">
            <h4>Tổng khách hàng</h4>
            <p>@ViewBag.TotalCustomers</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light p-3 mb-3 shadow-sm">
            <h4>Lượt thuê</h4>
            <p>@ViewBag.TotalRentals</p>
        </div>
    </div>
</div>
